#mybutton {
    width: 80px;
    height: 80px;
    background-color: rgb(55, 215, 226);
    border: 10px solid rgba(236, 231, 231, 0.884);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
}
#mybutton:active {
    background-color: rgb(163, 227, 230);
}
#mybutton:hover {
    cursor: pointer;
    border-width: 20px;
}
#container{
    height: 465px;
    width: 500px;
    box-shadow:  0px 3px 25px 5px rgb(184, 181, 181);
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
#descriptionContainer{
  height: 450px;
  width: 50%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  margin-right: 2px;
  background-color: white;
}
#reportBugField textarea{
  margin-top: 7px;
  height: 250px;
  width: 200px;
  padding:14px;
  border-width:2px;
  border-color: rgb(187, 184, 184);
}
#reportBugButton{
  float: left;
  margin-top: 15px;
  height:35px;
  width:230px;
  font-size:18px;
  color: #fff;
  background:#5A5EB9;
}
#reportBugButton :hover {
  background-color: #a4a8f7;
}
#reportBugButton :active {
  background-color: #878ac0;
  box-shadow: 0 5px #666;
}
#bugReportingContainer{
  height: 450px;
  width: 50%;
  padding:5px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-width: 1px;
}
#reportBugContainer{
  height:60%;
  width: 100%;
}
#chatContainer{
  height: 40%;
  width:100%;
  position: relative;
}
#form-container{
  background: #5A5EB9;
  height:50px;
  color:white;
  text-align:center;
  font-size:30px;
  padding-top:14px;
}
#form-container textarea{
  margin-top: 30px;
  height: 175px;
  width: 200px;
  padding:14px;
  border-width:2px;
  border-color: rgb(187, 184, 184);
}
#form-container h1{
  font-size:35px;
  margin:auto;
}
#chatButton{
  position: absolute;
  right:0;
  bottom:0;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  background-color: rgb(55,215,226);
  border: none;
}
.btn{
  float: left;
  margin-top: 15px;
  margin-left: 35px;
  height:35px;
  width:70px;
  font-size:18px;
  color: #fff;
  background:#5A5EB9;
}
.btn:hover {
  background-color: #a4a8f7;
}
.btn:active {
  background-color: #878ac0;
  box-shadow: 0 5px #666;
}
.btn2
{
  float: right;
  margin-top: 15px;
  margin-right: 35px;
  background: #5A5EB9;
  height:35px;
  font-size:18px;
  color: #fff;
  width:70px;
}
.btn2:hover {
  background-color: #878ac0;
}
.btn2:active {
  background-color: #878ac0;
  box-shadow: 0 5px #666;
}
button #chatButton:hover{
  background-color: rgb(46, 14, 224);
}